In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(0,15).reshape(5,3)
                 ,index=['a', 'b', 'c', 'd', 'e']
                 ,columns=['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [12]:
df['c3'] = np.nan
df['c4'] = np.nan
df

   c1  c2  c3  c4
a   0   1 NaN NaN
b   3   4 NaN NaN
c   6   7 NaN NaN
d   9  10 NaN NaN
e  12  13 NaN NaN

In [13]:
df.loc['f'] = np.arange(15, 19)
df

   c1  c2    c3    c4
a   0   1   NaN   NaN
b   3   4   NaN   NaN
c   6   7   NaN   NaN
d   9  10   NaN   NaN
e  12  13   NaN   NaN
f  15  16  17.0  18.0

In [14]:
print df.isnull()

      c1     c2     c3     c4
a  False  False   True   True
b  False  False   True   True
c  False  False   True   True
d  False  False   True   True
e  False  False   True   True
f  False  False  False  False

In [18]:
#按列做sum操作，把整列加起来
print df.sum() #df.sum(axis=0)

#按行做sum操作
print df.sum(axis=1)

c1    45.0
c2    51.0
c3    17.0
c4    18.0
dtype: float64
a     1.0
b     7.0
c    13.0
d    19.0
e    25.0
f    66.0
dtype: float64

In [22]:
print df.count()

c1    6
c2    6
c3    1
c4    1
dtype: int64

In [23]:
len(df) # 行数

6

In [21]:
(len(df) - df.count()).sum()

10L

In [24]:
df.notnull()

     c1    c2     c3     c4
a  True  True  False  False
b  True  True  False  False
c  True  True  False  False
d  True  True  False  False
e  True  True  False  False
f  True  True   True   True